! Fontrendering
! Xft.dpi                                 96
 Xft.autohint:                           0
 Xft.lcdfilter:                          lcddefault
 Xft.hintstyle:                          hintslight
 Xft.hinting:                            1
 Xft.antialias:                          1
 Xft.rgba:                               rgb
! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
 URxvt*jumpScroll:                     true
 URxvt*skipScroll:                     false
! URxvt*pastableTabs:                   boolean
 URxvt*scrollstyle:                    plain
 URxvt*scrollBar:                      true
 URxvt*scrollBar_right:                true
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
 URxvt*scrollTtyOutput:                false
 URxvt*scrollTtyKeypress:              true
 URxvt*scrollWithBuffer:               true
! URxvt*inheritPixmap:                  boolean
 URxvt*transparent:                    true
! URxvt*tintColor:                      color
! Urxvt*shading: 0-99 darkens, 101-200 lightens
 URxvt*shading:                        10
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
 URxvt*urgentOnBell:                   true
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
 URxvt*pointerBlank:                   true
 URxvt*background:                     #2B2B2B
 URxvt*foreground:                     #DEDEDE
! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC
! URxvt*color0:                         black
! URxvt*color1:                         red3
! URxvt*color2:                         green3
! URxvt*color3:                         yellow3
! URxvt*color4:                         blue2
! URxvt*color5:                         magenta3
! URxvt*color6:                         cyan3
! URxvt*color7:                         gray90
! URxvt*color8:                         grey50
! URxvt*color9:                         red
! URxvt*color10:                        green
! URxvt*color11:                        yellow
! URxvt*color12:                        blue
! URxvt*color13:                        magenta
! URxvt*color14:                        cyan
! URxvt*color15:                        white
URxvt*colorBD:                        #d7d7d7
URxvt*colorIT:                        #87af5f
URxvt*colorUL:                        #87afd7
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
 URxvt*font:                           xft:Hack:pixelsize=11,xft:Inconsolata:pixelsize=12,xft:Symbola:pixelsize=10
! URxvt*font:                           xft:DejaVuSansMono:size=9
! URxvt*boldFont:                       xft:Inconsolata-Bold:pixelsize=12
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
 URxvt*saveLines:                      3000
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
 URxvt*letterSpace:                    -1
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
 URxvt*print-pipe:                     cat > $(TMPDIR=$HOME mktemp urxvt.XXXXXX)
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
URxvt*secondaryScreen:                1
URxvt*secondaryScroll:                0
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
URxvt*perl-ext-common:                 default,resize-font,matcher
! URxvt*perl-ext:                       
! URxvt*iso14755:                       false
! URxvt*iso14755_52:                    false
! URxvt*xrm:                            string
URxvt*keysym.Shift-Up:                  command:\033]720;1\007
URxvt*keysym.Shift-Down:                command:\033]721;1\007 
URxvt*keysym.Shift-Right:               command:\033]721;45\007
URxvt*keysym.Shift-Left:                command:\033]720;45\007
! URxvt*keysym.C-Down						resize-font:smaller
! URxvt*keysym.C-Up						resize-font:bigger
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
URxvt*matcher.button:                 1
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
URxvt*matcher.rend.0:                 Uline Bold fg5
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
URxvt*url-launcher:                   /usr/bin/xdg-open
